@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: FadeIn 0.3s ease-in-out;
}

.Toastify__toast-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    bottom: 50px !important;
}

.Toastify__toast-container > * {
    width: 80% !important;
}

.bottom-bar {
    box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.1);
}

.ql-snow{
    border:none !important;
}

.hide-toolbar .ql-toolbar{
    display:none !important;
}

.ql-toolbar {
    animation: FadeIn 0.3s ease-in-out;
}